{% extends 'base.html.twig' %}

{% block title %}Match Meuble+ | Liste Offres{% endblock %}

{% block body %}

<hgroup>
    <h1>Liste des offres</h1>
    <p>Voici la liste des offres de montage de meuble</p>
</hgroup>

<div class="grid">
  <button> <a href="{{ path('app_liste_demande_montage')}}">Voir la liste des demandes</a></button>
</div>

<div class="container_articles">
  {% for items in listeOffreTravail %}
    <article id="article" class="myCard">
      <div class="container_image">
        <img src="https://images.pexels.com/photos/4554438/pexels-photo-4554438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bureau Gamer" class="content_img">
      </div>
      <div class="containerTitre">
        <p>
          <h3>{{ items.titre }}</h3>
        </p>
      </div>
      <hgroup>
        <div class="containerDescription">
          <p>{{ items.description }}</p>
        </div>
          {# <div class="container_dispo">
            {% if items.status != null %}
            <p class="content_dispo">
              Disponible : {{ items.status }}
            </p>
            {% else %}
            <p class="content_dispo">
              Disponobilité non renseigné
            </p>
            {% endif %}
          </div> #}
          <div class="container_remuneration">
            <p class="content_remuneration">Rémunération : {{ items.remuneration }}€.</p>
          </div>
        <div class="container_localisation">
          <p>{{ items.localisation }}</p>
        </div>
        <div class="container_date">
          <p> Prévu du : {{ items.dateDebutMontage.format('d/m/Y') }} <br>
            au : {{ items.dateFinMontage.format('d/m/Y') }}
        </div>
      </hgroup>
    </article>
  {% endfor %}

  </div>
{% endblock %}